@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:wght@400;700;800&family=Montserrat&family=Moon+Dance&family=Poppins:wght@700&display=swap');

:root{
    font-size: .8125em;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed';
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* ----------------Mobile first------------------ */

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-items: center;
    padding: 2em 0;
}
/* -----------general styling-------------- */
.profile {
    width: 90%;
    padding: 1.9em;
    border-radius: 1em;
}
.profile img {
    width: 35px;
    border-radius: 3em;
    border: 2px solid white;
}
.profile > div {
    display: grid;
    grid-template-columns: 1fr 8fr;
    color: white;
    margin-bottom: 1.3em;
    gap: 1em;
}
.profile > div h2 {
    font-size: 1.2em;
}
.profile > div p {
    opacity: .5;
}
.profile .review-sum {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.2em;
    color: white;
    margin-bottom: .7em;
    padding-right: 1.2em;
}
.profile .review-full {
    color: rgba(236, 242, 248, 0.7);
    line-height: 1.3em;
    padding-right: 1.2em;
}

/* --------------specific stylings------------- */
.daniel {
    background-color: hsl(263, 55%, 52%);
}
.jonathan {
    background-color: hsl(217, 19%, 35%);
}
.jeanette > div h2, .kira > div h2{
    color: hsl(217, 19%, 35%);
}
.jeanette > div p, .kira > div p{
    color: hsl(217, 19%, 35%);
}
.jeanette .review-sum, .kira .review-sum {
    color: hsl(217, 19%, 35%);
}
.jeanette .review-full, .kira .review-full {
    color: hsl(217, 19%, 35%);
}
.kira .review-full {
    line-height: 1.9em!important;
}
.patrick {
    background-color: hsl(219, 29%, 14%);
}

/* svg */

.svg {
    position: absolute;
    right: 10%;
    opacity: .5;
}

/* ----------------for desktop------------------ */
@media screen and (min-width: 900px) {
    main {
        grid-template-columns: repeat(7, 1fr);
        gap: 2em;
        padding: 2em;
    }
    .profile {
        width: 100%;
    }
    .profile .review-sum {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: .7em;
    }
    
    .profile .review-full {
        line-height: 1.3em;
    }
    .daniel {
        grid-column: span 3;
    }
    .jonathan {
        grid-column: span 2;
    }
    .kira {
        grid-column: 6 / span 2 ;
        grid-row: 1 / span 2;
    }

    .jeanette {
        grid-column: span 2;
    }
    .patrick {
        grid-column: span 3;
    }
}

/* --------Attribution--------- */
div.attribution {
    width: 30%;
    margin: auto;
    padding: .1em;
    margin-bottom: .5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Poppins';
    font-size: .5rem;
    border-radius: 3px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, .5);
}

div.attribution a {
    text-decoration: none;
}

.attribution a:first-child {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding: .3em;
}

.attribution a:nth-child(2) {
    background-color: white;
    color: black;
    padding: .3em;
}

.attribution a:nth-child(3) {
    background-color: rgba(45, 24, 51, 0.868);
    color: white;
    padding: .3em;
}