@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Space+Grotesk:wght@500&display=swap');
:root {
    font-size: 1em;
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: 'Space Grotesk';
}
.first {
    background: url(../images/bg-main-desktop.png) no-repeat;
    height: 100vh;
}
.second {
    background-color: hsl(0, 0%, 100%);
    display: grid;
    justify-items: end;
    align-items: center;
}

/* for the cards */

/* ------------Card-top------------ */
.top {
    position: absolute;
    top: 20%;
    left: 10%;
    background-image: url(../images/bg-card-front.png);
    background-repeat: no-repeat;
    width: 22.5em;
    height: 12em;
    border-radius: .5em;
}
/* ----------card-header----------- */
.card-header{
    width: 15%;
    height: 45%;
    margin-left: 1em;
    margin-top:1em;
}
.card-header {
    width: 100%;
}
.big {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 1em;
    display: inline-block;
}
.small {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 1em;
    border: .1px solid white;
    margin-bottom: .4em;
    margin-left: .5em;
}
/* --------------card-footer------------------- */
.card-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card-footer h4 {
    grid-column: span 2;
    padding-left: 1em;
    margin-bottom: 1em;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 3px;
    font-weight: 400;
}
.card-footer p {
    font-size: .6rem;
    color: white;
    letter-spacing: 1px;
}
.card-footer p:nth-child(2) {
    padding-left: 2em;
}
.card-footer p:nth-child(3) {
    text-align: end;
    padding-right: 4em;
}
/*-------------end of card-top--------------*/

/* -------card-bottom---------- */
.bottom {
    position: absolute;
    width: 22.5em;
    height: 12em;
    bottom: 15%;
    left: 14%;
    border-radius: .5em;
}
.bottom img {
    width: 100%;
    height: 100%;
}
.bottom p {
    position: absolute;
    top: 46%;
    right: 20%;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: .2em;
}
/* ----------end of card-bottom----------- */
.error {
    color: red;
    font-size: .6em;
    display: none;
}
.cvc-error {
    display: inline-block;
    width: 30%;
    color: red;
    font-size: .6em;
    display: none;
}
.err-two {
    padding-left: 15px;
}

/* Styling the Form */

form {
    width: 50%;
    margin-right: 7em;
}

[id="month"],
[id="year"] {
    width: 15%;
    padding: .6em;
    text-align: center;
    border: 0.1px solid hsl(270, 3%, 87%);
    border-radius: .4em;
}

[id="name"],
[id="number"] {
    width: 70%;
    padding: .6em;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: .4em;
}

[id="cvc"] {
    width: 38%;
    padding: .6em;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: .4em;
    margin-left: .5em;
}

[type="submit"] {
    width: 70%;
    padding: .8em;
    background-color: #21092f;
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: .4em;
    border-style: none;
}

strong {
    font-size: .6em;
    letter-spacing: .2em;
    display: inline-block;
    padding-bottom: .5em;
    font-weight: 600;
}

.focus {
    color: hsl(270, 3%, 87%);
    font-weight: 500;
    opacity: 0.3;
    outline: none;
}

.focus:focus {
    color: hsl(278, 68%, 11%);
    opacity: 1;
    border: 1px solid purple;
}

/* Well, I will work on the form later */

/* working on media queries now */

@media screen and (max-width: 1000px) {
    form {
        width: 50%;
        margin-right: 1em;
    }
}
@media screen and (max-width: 850px) {
    .top {
        left: 3%;
    }
    .bottom {
        left: 6%;
    }
    form {
        width: 60%;
        margin-right: .4em;
    }
}